body{
	background-color: grey;
	text-align: center;
	width: 80%;
	margin: 20px;
}
input, [text]{
	display: inline-block;
}
.player{
	clear: both;
	display: none;
	padding: 100px;
	float: center;
}
.submit{
	clear: both;
}